@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*#### GLOBAL ####*/
*, imput{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style:normal;
    font-size: 18px;
}
.container{
    max-width: 740px;
    margin: 0 auto;
    overflow: hidden;
}
button{
    padding: 8px;
    border: none;
    transition: all .2s ease-in-out;
    margin: 16px 0px 0px 8px;
    width: 120px;
    background-color: #575757;
    color: #FFFFFF;
    cursor: pointer;
}
button:hover{
    background-color: #ffa374;
    color: black;
    scale: 1.05;
}
img{
    height: 24px;
    margin-bottom: -6px;
}


/*#### HEADER / CABEÇALHO ####*/
header{
    text-align: center;
}
header span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #464646;
    margin: 8px 0;
}
header h1{
    color: antiquewhite;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;

}
header img{
    height: 48px;
    margin-right: 12px;
    filter: invert(80%);
}

header nav ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
header nav li{
    display: inline;
    width: 100%;
    padding: 16px 0;
    font-size: 24px;
    background-color: #464646;
    color: aliceblue;
    transition: all .2s ease;
}
header nav li:hover{
    background-color: #ffa374;
    color: black;
    cursor: default;
}
.guia_ativa{
    background-color: #ffa374;
    color: black;
    cursor: default;
}


/*#### CONTATOS E TAREFAS ####*/
.contatos_tarefas{
    display: flex;
    width: 200%;
    margin-bottom: 100px;
    transition: all .2s ease;
}


/*#### CONTATOS ####*/
.contatos{
    width: 100%;
    overflow-x: hidden;
}

/*#### FORMULARIO CONTATO ####*/
#formulario_contatos{
    background-color: antiquewhite;
    padding: 16px;
    margin: 8px auto;
}
#formulario_contatos h2{
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin: 8px 0 16px 0;
}

.inputbox{
    position: relative;
    width: 100%;
}
.inputbox label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: grey;
    transition: .2s ease-in-out;
}

input:focus ~ label, 
#nome:valid ~ label, 
#telefone:valid ~ label{
    top: 5%;
    opacity: 0;
}
#e_mail:invalid ~ label{
    top: 5%;
    opacity: 0;
}

.inputbox input{
    position: relative;
    width: 100%;
    height: 42px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #dd7a00;
}
.inputbox img{
    position: absolute;
    height: 24px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.btn{
    display: flex;
    justify-content: flex-end;
}


/*#### FILTRO DA TABELA ####*/

.contatos nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #575757;
    padding: 0;
    margin: 0;
}
.contatos ul span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffa374;
}
.contatos ul h2{
    color: black;
    font-weight: 600;
}
.contatos nav ul li{
    display: inline;
    margin: 6px 16px;
    color: white; 
}
.contatos nav img{
    margin: 0px 8px 0px 0px;
}

.contatos_tarefas nav label, select, option{
    font-size: 16px;
    padding: 0px 8px;
}



/*#### TABELA ####*/
.containerTabela{
    overflow-x: auto;
}

table{
    width: 100%;
    background-color: white;

}
table a{
    text-decoration: none;
}
table img{
    height: 20px;
    margin-bottom: -4px;
    transition: all .2s ease;
}
table img:hover{
    scale: 1.2;
}
table th{
    padding: 12px;
    border-bottom: 2px solid black;
    background-color: antiquewhite;
    font-weight: 600;
}
table tr{
    text-align: center;
    padding: 8px;
}
table td{
    padding: 8px 0;
    border-bottom: 1px solid black;
}

.tabeta_alinhada{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}






/*#### TAREFAS ####*/
.tarefas{
    width: 100%;
    text-align: center;
    background-color: aquamarine;
    margin: 8px 0;
}


.trocar{
    margin-left: -100%;
}